@import "../../app.component.scss";
.top-space {
    margin-top: 3.5%;
}

.tile-content {
    //height: 100%;
}

.main-content-card {
    height: 700px
}

.section-title {
    padding: 1%;
    font-weight: bold;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 1.5em;
}