@import "../../app.component.scss";
.custom-sidenav-content {
    // display: flex;
    // flex: 2 1 0;
    // height: 100%;
    align-items: center;
    justify-content: center;
}

.custom-sidenav {
    padding: 20px;
}

.title-style {
    border: 2%;
    padding: 2%;
}

.menu-bar {
    flex: 1;
}

.main-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.main-sidenav-container {
    height: 700px;
}