.custom-container {
    width: 100%;
    height: 100%;
    // border: 1px solid rgba(0, 0, 0, 0.5);
}

.custom-sidenav-content {
    // display: flex;
    // height: 100%;
    align-items: center;
    justify-content: center;
}

.custom-sidenav {
    padding: 20px;
}

.title-style {
    border: 2%;
    padding: 2%;
}