<form #f="ngForm" novalidate>
    <mat-dialog-content>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <mat-form-field>
                        <input *ngIf="item && item.titolo" matInput required value="{{item.titolo}}" ngModel name="titolo">
                        <input *ngIf="required && required.titolo" matInput required placeholder="{{required.titolo}}" name="titolo" ngModel>
                        <input *ngIf="item && item.nome" matInput required value="{{item.nome}}" name="nome" ngModel>
                        <input *ngIf="required && required.nome" matInput required placeholder="{{required.nome}}" name="nome" ngModel>
                    </mat-form-field>
                    <mat-form-field *ngIf="(item && item.nome && item.cognome) || (required && required.nome && required.cognome)">
                        <input *ngIf="item && item.cognome" matInput value="{{item.cognome}}" name="cognome">
                        <input *ngIf="required && required.cognome" matInput placeholder="{{required.cognome}}" name="cognome" ngModel>
                    </mat-form-field>
                </mat-card-title>
                <img mat-card-avatar *ngIf="item && item.img">
            </mat-card-header>
            <mat-divider></mat-divider>
            <!-- <img mat-card-image src="item.cover"> -->
            <mat-card-content class="top-space">
                <mat-form-field *ngIf="(item && item.descrizione ) || (required && required.descrizione)">
                    <input matInput *ngIf=" item && item.descrizione " value="{{item.descrizione}}" ngModel name="descrizione">
                    <input matInput *ngIf="required && required.descrizione " placeholder="{{required.descrizione}}" ngModel name="descrizione">
                </mat-form-field>
                <mat-form-field *ngIf="(item && item.autore ) || (required && required.autore)">
                    <input matInput *ngIf=" item && item.autore " value="{{item.autore}}" ngModel name="autore">
                    <input matInput *ngIf="required && required.autore " placeholder="{{required.autore}}" ngModel name="autore">
                </mat-form-field>
                <mat-form-field *ngIf="(item && item.editore ) || (required && required.editore)">
                    <input matInput *ngIf=" item && item.editore " value="{{item.editore}}" ngModel name="editore">
                    <input matInput *ngIf="required && required.editore " placeholder="{{required.editore}}" ngModel name="editore">
                </mat-form-field>
            </mat-card-content>
        </mat-card>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button color="accent" (click)="save(f)" type="submit">Salva</button>
        <button mat-raised-button color="accent" (click)="close() ">Annulla</button>
    </mat-dialog-actions>
</form>